
<div class="container">
    <div class="row">
      <div class="col">
        <div class="container_producto">

            <h5 class="nombre_producto">Jardinera CoderHouse</h5>
            <div class="linea_producto"></div>
          
           <div class="monetario_producto">
             <h5 class="precio_producto">$3500</h5>
          </div>

          <a href="#" class="btn btn-primary">Comprar</a>
   
   </div>
      </div>
      <div class="col">
        <div class="card" style="width:70%;">
            <img src="assets/producto1.png" class="card-img-top" alt="...">
    
          </div>
      </div>
    </div>
    